function displayForm(formId) {
  if (false == $(formId).is(':visible')) {
    $(formId).show(250);
  }
  else {
    $(formId).hide(250);
  }
}

$(function() {


  var coolbeans = <%= current_user.facebook.get_connections("me", "friends?fields=id,name,picture.type(small)").collect {|item| { id: item["id"], value: item["name"], image: item["picture"]["data"]["url"]} }.to_json.html_safe %>

  $( "#search" ).autocomplete({
    minLength: 0,
    source: coolbeans,
    focus: function( event, ui ) {
      $( "#search" ).val( ui.item.label );
      return false;
    },
    select: function( event, ui ) {
      $( "#search" ).val( ui.item.label );
      $( "#search-id" ).val( ui.item.value );
      url: "/groups/<%= @group.id %>/invitations"
      return false;
    }
  })
  .autocomplete( "instance" )._renderItem = function( ul, item ) {
    return $( "<li>" )
    .append("<a><img src='" + item.image + "' />" + item.label + "</a>")
    .appendTo( ul );
  };
});

    $("#add-user").on("submit", function(e) {
      e.preventDefault();

      $.ajax({
        type: "post",
        url: "/groups/<%= @group.id %>/invitations",
        data: $(this).serialize()
      })
    })

$("#add-user").on("submit", function(event) {
  event.preventDefault();
  console.log($(this).serialize())
  console.log("<%=@group.id%>")
  $.ajax({
    type: "post",
    url: "/groups/<%= @group.id %>/invitations",
    data: $(this).serialize()
  }).done(function(response){
    console.log(response);
    $(".user-list ul").prepend("<div id='user-name'><li>"+response.name+"</li></div>")
  })
})
