<div class="row">
  <h1><%= @group.name %></h1>
</div>

<div class="row">
  <div class="col span_3 button">
    <p><a href="/groups/<%= @group.id %>/chat">Chat</a></p>
  </div>
  <div class="col span_3 button">
    <p><a href="/groups/<%= @group.id %>/map">Map</a></p>
  </div>
  <div class="col span_3 button">
    <p><a href="/groups/<%= @group.id %>/photos">Photos</a></p>
  </div>
  <div class="col span_3 button">
    <p><a href="/groups/<%= @group.id %>">Info</a></p>
  </div>
</div>
