<div class="band navigation">
  <div class="row">
    <div class="three columns button button-primary button-selected">
      <p><a href="/groups/<%= @group.id %>/chat">Chat</a></p>
    </div>
    <div class="three columns button button-primary">
      <p><a href="/groups/<%= @group.id %>/map">Map</a></p>
    </div>
    <div class="three columns button button-primary">
      <p><a href="/groups/<%= @group.id %>/photos">Photos</a></p>
    </div>
    <div class="three columns button button-primary">
      <p><a href="/groups/<%= @group.id %>">Info</a></p>
    </div>
  </div>
</div>

<div class="help-button">
  <button id="help-button"> Find me! </button>
</div>

<script>
  <%= render "text.js" %>
</script>


<div id="chat-canvas">
  <form id="chat-input">
    <input type="text" name="message">
    <input type="submit" name="send-message" value="Send">
  </form>

  <div id="chat-box">
  </div>
</div>

<script>
  <%= render "chat.js" %>
</script>
