<% if current_user.id == @group.admin.id %>
  <div id="add-user-form">
    <form id="add-user">
      <input type="text" name="name" id="search">
      <input type="hidden" id="search-id">
      <input type="submit" value="Add User">
    </form>

    <div><input type="button" value="Add/Update Description" onclick="displayForm(updateForm)" /></div>

    <div id="updateForm" style="display: none">
      <%= form_for @group, url: group_path do |f| %>
        <%= f.label :description %>
        <%= f.text_field :description %>
        <%= f.submit "Description" %>
      <% end %>
    </div>

    <%= link_to 'Delete Group', group_path, method: :delete, data: { confirm: 'Are you sure?' } %></br>

    Group Name: <%= @group.name %> </br>

    <% if @group.description != nil %>
      Group Description: <%= @group.description %>
    <% end %>

  </div>

  <script>
    <%= render partial: "edit.js" %>
  </script>

<% end %>

<div class="user-list row">
  <ul id="user-list">
    <% @users.each do |user| %>
    <div id="user-name col span_12"><li>
      <img src="<%= current_user.facebook.get_picture(current_user.uid) %>">
      <%= user.name %>
    </li></div>
    <% end %>
  </ul>
</div>
