<% if current_user.id == @group.admin.id %>
  <form id="add-user">
    <input type="text" name="name">
    <input type="submit" value="Add User">
  </form>

 <!--  current_user.facebook.get_connections("me", "friends").map do |user|
    u.facebook.get_object(user["id"]).map do |f|
      link: f["link"], name: f["name"], id: f["id"]
    end
  end -->

  <script>
    var users = <%= User.pluck(:name).to_json.html_safe %>
    var friends_list = <%= current_user.facebook.get_connections("me", "friends").map { |user| user["name"] }.to_json.html_safe %>

    var friend_id = <%= current_user.facebook.get_connections("me", "friends").map { |user| current_user.facebook.get_object(user["id"])}.to_json.html_safe %>

    var friends_image = <%= current_user.facebook.get_connections("me", "friends?fields=id,name,picture.type(small)")[0]['picture']['data']['url'].to_json.html_safe %>

    var friend_ids = <%= current_user.facebook.get_connections("me", "friends")[0]["id"] %>
    var friend_names = <%= current_user.facebook.get_connections("me", "friends")[0]["name"].to_json.html_safe %>
    var friend_images = <%= current_user.facebook.get_connections("me", "friends?fields=id,name,picture.type(small)")[0]["picture"]["data"]["url"].to_json.html_safe  %>
    var friend_ids2 = <%= current_user.facebook.get_connections("me", "friends")[1]["id"] %>
    var friend_names2 = <%= current_user.facebook.get_connections("me", "friends")[1]["name"].to_json.html_safe %>
    var friend_images2 = <%= current_user.facebook.get_connections("me", "friends?fields=id,name,picture.type(small)")[1]["picture"]["data"]["url"].to_json.html_safe  %>

    var friends_images_array = []

    <% current_user.facebook.get_connections("me", "friends?fields=id,name,picture.type(small)").each do |person| %>
      friends_images_array.push(<%= person["picture"]["data"]["url"].to_json.html_safe  %>)
    <% end %>

console.log(friends_images_array)
      var friends = [
        { "id": friend_ids, "name": friend_names, "image": friend_images },
        { "id": friend_ids2, "name": friend_names2, "image": friend_images2 }
      ]

    $("input[name=name]").autocomplete({
      source: friends_list,
      select: function(event, ui) {
        url: "/groups/<%= @group.id %>/invitations"
        window.location.href = ui.item.value;
      }
    }).data("uiAutocomplete")._renderItem = function(ul, item) {
      debugger
      for (var i = 0; i < friends_images_array.length; i++ ) {
      return $("<li />")
        .data("item.autocomplete", item)
            .append("<a><img src='" + friends_images_array[i] + "' />" + item.label + "</a>")
            .appendTo(ul);
      }
    };

    // $("#add-user").on("submit", function(e) {
    //   e.preventDefault();

    //   $.ajax({
    //     type: "post",
    //     url: "/groups/<%= @group.id %>/invitations",
    //     data: $(this).serialize()
    //   })
    // })
  </script>
<% end %>

<ul id="user-list">
  <% @users.each do |user| %>
    <li><img src="<%= current_user.facebook.get_object("me?fields=picture")["picture"]["data"]["url"] %>"><%= user.name %></li>
  <% end %>
</ul>
