<button id="back-link"><p><%= link_to "Back", groups_path %></p></button>

<div class="new-group-form">
<p>
  <% if flash[:group_creation_errors] %>
    <%= flash[:group_creation_errors] %>
  <% end %>
</p>

<%= form_for Group.new do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>
</div>
