<div class="band header">
  <div class="row">
    <div class="four columns">
      <div class="button button-primary">
        <%= link_to "My Groups", groups_path %>
      </div>
    </div>
    <div class="four columns">
      <div class="button button-primary">
        <%= link_to "Invites", invitations_path %>
      </div>
    </div>
    <div class="four columns">
      <div class="button button-primary button-selected">
        <%= link_to "New Group", new_group_path %>
      </div>
    </div>
  </div>
</div>

<div class="new-group-form">
  <p>
    <% if flash[:group_creation_errors] %>
      <%= flash[:group_creation_errors] %>
    <% end %>
  </p>

  <%= form_for Group.new do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit %>
<% end %>
</div>
