<div class="row col span_12">
  <h1>New Group</h1>
</div>

<%= render partial: "partials/navheader" %>

<div class="new-group-form">
  <p>
    <% if flash[:group_creation_errors] %>
      <%= flash[:group_creation_errors] %>
    <% end %>
  </p>

  <%= form_for Group.new do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit %>
<% end %>
</div>
