<%= link_to "Back", groups_path %>
<%= link_to "Edit", edit_group_path %>

<ul id="user-list">
  <% @users.each do |user| %>
    <li><%= user.name %></li>
  <% end %>
</ul>

<form id="chat-input">
  <input type="text" name="message">
  <input type="submit" name="send-message" value="Send">
</form>

<div id="chat-box">
</div>

<script>
  <%= render "chat.js" %>
</script>


<div id="map-canvas" data-group-id= "<%=@group.id%>", data-user-id= "<%=current_user.id%>">
</div>

<script>
  <%= render "map.js" %>
</script>
