<div class="band navigation">
  <div class="row">
    <div class="three columns button button-primary">
      <p><a href="/groups/<%= @group.id %>/chat">Chat</a></p>
    </div>
    <div class="three columns button button-primary">
      <p><a href="/groups/<%= @group.id %>/map">Map</a></p>
    </div>
    <div class="three columns button button-primary">
      <p><a href="/groups/<%= @group.id %>/photos">Photos</a></p>
    </div>
    <div class="three columns button button-primary button-selected">
      <p><a href="/groups/<%= @group.id %>">Info</a></p>
    </div>
  </div>
</div>

<strong><h3>Description</h3></strong>
<p><%= @group.description %></p>

<div class="row">
  <% @users.each do |user| %>
    <div class="col span_12">
      <img src="<%= user.facebook.get_picture(user.uid) %>">
      <%= user.name %>
    </div>
  <% end %>
</div>

<% if current_user.id == @group.admin.id %>
  <button><%= link_to "Edit", edit_group_path %></button>
<% end %>

<% if current_user.id != @group.admin.id %>
  <button><a href="/groups/<%= @group.id %>/users/<%= current_user.id %>/leave">Leave Group</a></button>
<% end %>
