<%= render partial: "header" %>

<p><%= @group.description %></p>

<div class="row">
  <% @users.each do |user| %>
    <div class="col span_12">
      <img src="<%= user.facebook.get_picture(user.uid) %>">
      <%= user.name %>
    </div>
  <% end %>
</div>

<% if current_user.id == @group.admin.id %>
  <button><%= link_to "Edit", edit_group_path %></button>
<% end %>
