<button><p><%= link_to "Back", groups_path %></button>
<div class="invite-list">

  <% @invitations.each do |invitation| %>
    <div class="single-invite">
        <span id="invite-to"><%= link_to invitation.group.name, url_for(invitation.group) %></span></br>
        <span id="invited-by"> Invited by: <%= invitation.group.admin.name %></span></br>
        <div class="accept-decline-buttons">
          <%= button_to "Accept", group_invitation_path(invitation.group, invitation) + '/accept', method: :delete, data: { confirm: true } %>
          <%= button_to "Decline", group_invitation_path(invitation.group, invitation) + '/decline', method: :delete, data: { confirm: true } %>
        </div>
    </div>
  <% end %>

</div>
