<div class="band header">
  <div class="row">
    <div class="four columns">
      <div class="button button-primary">
        <%= link_to "My Groups", groups_path %>
      </div>
    </div>
    <div class="four columns">
      <div class="button button-primary button-selected">
        <%= link_to "Invites", invitations_path %>
      </div>
    </div>
    <div class="four columns">
      <div class="button button-primary">
        <%= link_to "New Group", new_group_path %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @invitations.each do |invitation| %>
    <div class="col span_12">
        <span id="invite-to"><%= link_to invitation.group.name, url_for(invitation.group) %></span></br>
        <span id="invited-by"> Invited by: <img src="<%= invitation.group.admin.facebook.get_picture(invitation.group.admin.uid) %>"> <%= invitation.group.admin.name %></span></br>
        <div class="accept-decline-buttons">
          <%= button_to "Accept", group_invitation_path(invitation.group, invitation) + '/accept', method: :delete %>
          <%= button_to "Decline", group_invitation_path(invitation.group, invitation) + '/decline', method: :delete %>
        </div>
    </div>
  <% end %>
</div>
