<div class="band navigation">
  <div class="row">
    <div class="four columns">
      <div class="button button-primary">
        <%= link_to "My Groups", groups_path %>
      </div>
    </div>
    <div class="four columns">
      <div class="button button-primary button-selected">
        <%= link_to "Invites", invitations_path %>
      </div>
    </div>
    <div class="four columns">
      <div class="button button-primary">
        <%= link_to "New Group", new_group_path %>
      </div>
    </div>
  </div>
</div>

<div class="band groups">
  <% @invitations.each do |invitation| %>
    <div class="row invitation">
      <div class="four columns">
        <h1 class="group-name"><%= invitation.group.name %></h1>
      </div>
      <div class="four columns">
        <div class="invited-by">Invited by: <img src="<%= invitation.group.admin.facebook.get_picture(invitation.group.admin.uid) %>"> <%= invitation.group.admin.name %>
        </div>
      </div>
      <div class="two columns">
        <%= button_to "Accept", group_invitation_path(invitation.group, invitation) + '/accept', method: :delete, class: 'doge inline' %>
      </div>
      <div class="two columns">
        <%= button_to "Decline", group_invitation_path(invitation.group, invitation) + '/decline', method: :delete, class: 'doge inline' %>
      </div>
    </div>
  <% end %>
</div>
