<%= render partial: "groups/header" %>

<div id="take-photo"><button> Take a photo </button></div>

<div id="photo-stream" data-group-id= "<%=@group.id%>", data-user-id= "<%=current_user.id%>">

  <% @photos.each do |photo|%>
    <div class="photo">
      <img src="<%= photo.url%>">

      <% if photo.user_id == current_user.id || @group.admin.id == current_user.id %>
        <button><%= link_to "Delete", group_photo_path(@group, photo), method: :delete %></button>
      <%end%>
    </div>

  <%end%>
</div>


<script>
  <%= render "photos.js" %>
</script>
