<!DOCTYPE html>
<html>
<head>
  <title>KeepYourFriendsClose</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>

  <!-- api key possibly needs to be relocated -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvbVDTuIX7MrUCHeZkkCEU44EDdFiFKKw"></script>
  <script src="https://code.jquery.com/jquery-1.11.2.js"></script>

</head>
<body>

<div class="container">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
